.ligth{
    font-family: $moderne;
    font-weight: 300;
}

.regular{
    font-family: $moderne;
    font-weight: 400;
}

.medium{
    font-family: $moderne;
    font-weight: 500;
}

.semibold{
    font-family: $moderne;
    font-weight: 600;
}

.bold{
    font-family: $moderne;
    font-weight: 600;
}

.italic{
    font-style: italic;
}

a{
    text-decoration: none;
}